

#navbar {
    height:70px;
    width:100%;
    border:2px solid red;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#navbar>div{
    width:50%;
    display: flex;
    justify-content: space-between;
    color: teal;
    font-size: 20px;
    margin-right: 10px;
}

#sidebar{
   height:100%;
   border:1px solid red;
   width:22%;
   text-align: center;
}
input{
    height:20px;
    margin-top: 10px
    ;
    width:200px;
    margin-left: 10px;
}
#sidebar>img{
    width:90%;
    height: auto;
    /* width: 300px;
    height: 350px; */
}
#news_result{
    width:80%;
    
    
}

#news_result>div{
   height:100px;
   width:80%;
   border:1px solid red;
   display:flex;
   margin-left: 30px;
   margin-top: 10px;
}
#news_result>div>img{
 height:100%;
 width:100px;
}
#main{
    border:1px solid red;
    display:flex;
    height:500px;
    overflow: scroll;
    
}