

#navbar{
    display: flex;
    /* border: solid 1px red; */
    background-color: brown;
    align-items: center;
    width: 100%;
    height: 80px;
}
#navbar a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 70%;
    cursor: pointer;
}
#container{
    display: flex;
    width: 20%;
    margin: auto;
}

 input[type="text"],
 input[type="number"],
 input[type="email"]
 {
   width: 100%;
   padding: 12px;
   margin-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
   cursor: pointer;
 }

 input[type="submit"]
 {
   background-color: teal;
   color: white;
   width: 100%;
   padding: 12px 40px;
   margin-top: 20px;
   border-radius: 10px;
   border: none;
   font-size: 20px;
    cursor: pointer;
 }